<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>admin.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>admin.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUpdate</servlet-name>
        <servlet-class>admin.AddUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNews</servlet-name>
        <servlet-class>admin.UpdateNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNews</servlet-name>
        <servlet-class>admin.DeleteNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCrop</servlet-name>
        <servlet-class>admin.AddCrop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCrop</servlet-name>
        <servlet-class>admin.UpdateCrop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>farmer.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Farmer_Login</servlet-name>
        <servlet-class>farmer.Farmer_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSlot</servlet-name>
        <servlet-class>admin.AddSlot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSlot</servlet-name>
        <servlet-class>admin.UpdateSlot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCrop</servlet-name>
        <servlet-class>admin.DeleteCrop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSlot</servlet-name>
        <servlet-class>admin.DeleteSlot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookSlot</servlet-name>
        <servlet-class>farmer.BookSlot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout1</servlet-name>
        <servlet-class>farmer.Logout1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>farmer.UpdateProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUpdate</servlet-name>
        <url-pattern>/AddUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNews</servlet-name>
        <url-pattern>/UpdateNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNews</servlet-name>
        <url-pattern>/DeleteNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCrop</servlet-name>
        <url-pattern>/AddCrop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCrop</servlet-name>
        <url-pattern>/UpdateCrop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Farmer_Login</servlet-name>
        <url-pattern>/Farmer_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSlot</servlet-name>
        <url-pattern>/AddSlot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSlot</servlet-name>
        <url-pattern>/UpdateSlot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCrop</servlet-name>
        <url-pattern>/DeleteCrop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSlot</servlet-name>
        <url-pattern>/DeleteSlot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookSlot</servlet-name>
        <url-pattern>/BookSlot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout1</servlet-name>
        <url-pattern>/Logout1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
